[include]
  path = ~/.gitconfig_local

[push]
  default = current

[alias]
  d        = diff
  co       = checkout
  ci       = commit
  st       = status --short
  lst      = status
  pst      = status --porcelain
  url      = remote show origin
  pus      = push
  outgoing = log @{u}..
  incoming = "!git remote update -p; git log ..@{u}"
  out      = "!git outgoing"
  in       = "!git incoming"
  rollback = reset --soft HEAD^
  upc      = reset --hard
  rpull    = "!find . -maxdepth 2 -name .git -type d -print -execdir git pull --all ';'"
  tags     = tag --sort=v:refname
  pruneloc = "!git checkout master; git pull; git remote prune origin; git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -d"
  reltag   = "!git tag $(jq --raw-output .version metadata.json); git push --tags"

[core]
  excludesfile = ~/.gitignore

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow
  frag = magenta
  old  = red
  new  = green

[color "status"]
  added     = green
  changed   = yellow
  untracked = red

[merge]
  tool = intellij
  conflictstyle = diff3

[mergetool "intellij"]
  cmd = idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
  trustExitCode = true

[diff]
  tool = intellij

[difftool "intellij"]
  cmd = idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")

[mergetool]
  prompt = false
