[user]
name  = Eugene Piven
email = thepegasd@gmail.com

[alias]
d        = diff
co       = checkout
ci       = commit
st       = status --short
lst      = status
pst      = status --porcelain
url      = remote show origin
outgoing = log @{u}..
incoming = "!git remote update -p; git log ..@{u}"
out      = "!git outgoing"
in       = "!git incoming"
rollback = reset --soft HEAD^
upc      = reset --hard

[core]
excludesfile = ~/.gitignore
pager        = /bin/cat

[color]
ui = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold
[color "status"]
  added     = green bold
  changed   = yellow bold
  untracked = red bold
